/* Links */
a,
a:hover,
a:active,
a:focus{
  text-decoration: none;
  color: #031B4E;
}

a.text_underline:link{
  text-decoration: underline;
}

/* bottoni */

.btn_white_blue{
  color: #0069FF;
  border:1px solid #0069FF;
  background: #fff;
}

.btn_white_blue:hover,
.btn_white_blue:active,
.btn_white_blue:focus{
  color: #fff;
  border:1px solid #0069FF;
  background: #0069FF;
}

/* header */
/* nav */

.nav-header{
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: white;

}

.logo_ocean img{
    height: 35px;
}

.center_li ul li {
    display: inline-block;
    list-style: none;
    line-height: 70px;
    padding: 15px;
    font-size: 15px;
}

.hamburger{

    font-size: 120%;
    margin-top:15px;
    line-height: 70px;
    cursor: pointer;
    opacity: 0.8;
    color: #0069FF;
}

body{
    font-family: 'Roboto','Helvetica',Arial,sans-serif;
    font-size: 16px;
}

.color_white{
    color: white;
}
/* jumbotrone */

.jumbotrone_back{
    width: 100%;
    background-image: url(../img/bg-home-1.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
