/* Links */
a,
a:hover,
a:active,
a:focus{
  text-decoration: none;
  color: #031B4E;
}

a.text_underline:link{
  text-decoration: underline;
}

/* bottoni */

.btn_white_blue{
  color: #0069FF;
  border:1px solid #0069FF;
  background: #fff;
}

.btn_white_blue:hover,
.btn_white_blue:active,
.btn_white_blue:focus{
  color: #fff;
  border:1px solid #0069FF;
  background: #0069FF;
}

.btn_blue_opacity{
  color: #FFF;
  background: #0069FF;
  border: 0;
  opacity: 0.7;
  transition: opacity 0.5s;
}

/* Margini e padding */

.margin_top_10{
  margin-top: 10px;
}
.margin_bottom_10{
  margin-bottom: 10px;
}

.margin_top_50{
  margin-bottom: 10px;
}

.padding_top_30{
  padding-top: 30px;
}
.padding_bottom_30{
  padding-bottom: 30px;
}

.padding_top_60{
  padding-top: 60px;
}
.padding_bottom_60{
  padding-bottom: 60px;
}


/* header */
/* nav */

.nav-header{
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: white;

}

.logo_ocean img{
    height: 35px;
}

.center_li ul li {
    display: inline-block;
    list-style: none;
    line-height: 70px;
    padding: 15px;
    font-size: 15px;
}

.hamburger{

    font-size: 120%;
    margin-top:15px;
    line-height: 70px;
    cursor: pointer;
    opacity: 0.8;
    color: #0069FF;
}

body{
    font-family: 'Roboto','Helvetica',Arial,sans-serif;
    font-size: 16px;
}
.color_blu{
    color:#031B4E
}

.color_lightblue{
    color:#0069FF;
}

.color_white{
    color: white;
}
.color_grey{
    color:grey;
}

.medium_text{
  font-size: 1.4em;
}

.high_text{
    font-size:50px;
}

.text_uppercase{
    text-transform: uppercase;
}
/* jumbotrone */
.jumbotrone{
    height:500px;
}

.jumbotrone_back{
    width: 100%;
    background-image: url(../img/bg-home-1.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
.jumbotrone_started{
    padding: 20px;
    border-radius:5px;

}

.bg_white{
  background: #FFF;
}

.jumbotrone_started input:not([type="submit"]){
  width: 100%;
  border-radius: 5px;
  line-height: 2em;
  padding: 5px;
  border: 1px solid #EEE;
}

.jumbotrone_started input:not([type="submit"]):hover,
.jumbotrone_started input:not([type="submit"]):active,
.jumbotrone_started input:not([type="submit"]):focus{
  border: 1px solid #005FE6;
}

.jumbotrone_started .btn{
  width: 100%;
}

.jumbotrone_started .google_signup::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/google-icon.png');
  background-size: cover;
}

/* Section logo */
.logo{
    background-color: #f3f5f9
}

.loghi_section img{
    height:200px;
    
}
